*{
    color: red;
}

.hello {
  font-size: 40px;
  color: aquamarine;
}
p,
b {
  font-size: 30px;
}
.p_one,
#p_two {
  font-size: 20px;
}
.container{
    width: 200px;
    height: 100px;
    background-color: green;
    opacity: 0.5;
}
